{% extends 'base.html' %}

{% block title %}Withdraw{% endblock title %}

{% block body %}
<div class="container1 text-center my-4 mx-150" style="max-width: 500px; margin: auto; border: 2px solid black; border-radius: 8px; background-color: rgb(238, 238, 238);">
    {% load crispy_forms_tags %}

    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success my-2 mx-3" value="Withdraw">
        <a href="{% url 'Users' %}" class="btn btn-primary">Back</a>
    </form>
</div>
{% endblock body %}